OPENWEATHER_API_KEY=...
GEOAPIFY_API_KEY=...
OPENTRIPMAP_API_KEY=...
API_KEY=...
TAVILY_API_KEY=...
GOOGLE_API_KEY=...

JWT_SECRET_KEY=...
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
GOOGLE_REDIRECT_URI=...